<div class='active indiv-reminder-display'>
  <form class='add-new-reminder' {{action 'addReminder' on='submit'}}>
    <label>
      Title
      {{input class='new-reminder-title' type='text' value=title}}
    </label>
    <label>
      Date
      {{input class='new-reminder-date' type='date' value=model.date}}
    </label>
    <label>
      Notes
      {{textarea class='new-reminder-notes' type='text' value=model.notes cols='80' rows='6'}}
    </label>
    {{#link-to 'reminders.reminder' model.id}}
      <button type='submit' {{ action 'updateReminder' on='click' }}>Save</button>
    {{/link-to}}
  </form>
</div>
