<div class='active indiv-reminder-display'>
  <form class='edit-reminder-form'>
    <label>
      Title
      {{input class='new-reminder-title' type='text' value=model.title}}
    </label>
    <label>
      Date
      {{input class='new-reminder-date' type='date' value=model.date}}
    </label>
    <label>
      Notes
      {{textarea class='new-reminder-notes' type='text' value=model.notes cols='80' rows='6'}}
    </label>
    {{#link-to 'reminders.reminder' model.id}}
      <button class='save-updates-btn' {{action 'updateReminder' on='click'}}>Save</button>
    {{/link-to}}
    <button class='undo-updates-btn' {{action 'undoChanges' on='click'}}>Undo</button>
  </form>
</div>
