<div class='active indiv-reminder-display'>
  {{#if model.editable}}

  <form class='add-new-reminder' {{action 'addReminder' on='submit'}}>
    <label>
      Title
      {{input class='new-reminder-title' type='text' value=model.title}}
    </label>
    <label>
      Date
      {{input class='new-reminder-date' type='date' value=model.date}}
    </label>
    <label>
      Notes
      {{textarea class='new-reminder-notes' type='text' value=model.notes cols='80' rows='6'}}
    </label>
    <button type='submit'>Save</button>
  </form>

  {{else}}

    <h1>{{model.title}}</h1>
    <p>{{model.date}}</p>
    <p>{{model.notes}}</p>

    {{#link-to 'reminders.reminder.edit' model.id}}
    <button class='btn edit-reminder-btn' {{action 'toggleEdit' on='click' }}>Edit</button>
    {{/link-to}}

  {{/if}}

</div>

<!-- {{outlet}} -->
