<div class='reminder-list-container'>
  {{#if model}}
    {{#each model as |reminder|}}
      {{#link-to 'reminders.reminder' reminder.id}}
        <div class='spec-reminder-item' >
          <h3 class='spec-reminder-title'>{{reminder.title}}</h3>
          <p class='reminder-status {{if reminder.hasDirtyAttributes "tay-tay"}}'>☑</p>
        </div>
      {{/link-to}}

      {{#link-to 'reminders'}}
        {{delete-reminder model=reminder}}
      {{/link-to}}

    {{/each}}
  {{else}}
    <h3 class='no-reminder-message'>Click below to add a new reminder.</h3>
  {{/if}}

  {{#link-to 'reminders.new'}}
    <button class='addNew-btn btn'>Add New Reminder</button>
  {{/link-to}}
</div>

<div class='display-container'>
  {{outlet}}
</div>
