{{#each model as |reminder|}}

  <div class='spec-reminder-item' onClick={{action 'selectReminder'}}>
    <h3 class='spec-reminder-title'>{{reminder.title}}</h3>
    <p class='spec-reminder-date'>{{reminder.date}}</p>
    <p class='spec-reminder-notes'>{{reminder.notes}}</p>
    <br>
  </div>
{{/each}}

{{outlet}}
